@keyframes rotate {
 0% {
 	transform: rotatez(0deg);
 }
100% {
	transform: rotatez(360deg);
}

}

.loading {
 position: absolute;
 left: 50%;
 top: 50%;
 margin: -60px 0 0 -60px;
 background: #fff;
 width: 120px;
 height: 120px;
 border-radius: 100%;
 border: 5px solid red;
}

.loading:after {
width: 140%;
height: 140%;
position: absolute;
border-radius: 100%;
top: -20%;
left: -20%;
opacity: 0.7;
animation: rotate 1.4s infinite linear;
box-shadow: rgba(444, 0, 0,0.6) -4px -5px 3px -3px;
content: '';


}

body {
	background-color: black;
}